.img1 {
  width: 80vw;
  height: 45vw;

}

.img2 {
  width: 80vw;
  height: 50;

}

.img3 {
  width: 80vw;
  height: 50;
}

.img4{
    width: 80vw;
    height: 45vw;
}

.cro{
  margin-bottom: 50px;
}

